[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
pep8 = "*"
jinja2 = "*"
pylint-django = "*"
openpyxl = "*"
xlrd = "*"
xlwt = "*"
pyxlsb = "*"
xlutils = "*"
xlsxwriter = "*"
pandas = "*"
django-import-export = "*"
mysql-connector-python = "*"
excel2json-3 = "*"
djangorestframework = "*"
ipdb = "*"

[dev-packages]
autopep8 = "*"
pylint = "*"

[requires]
python_version = "3.8"
