<html>

<body>
    {{ likes }} from the {{ place }} {{ product}}
    {% if name %}
    <h1>Hello {{ name }}</h1>
    {% else %}
    <h1>Hello World</h1>
    {% endif %}
    <ul>
        {% for summary_credit_accnts_informationrmation in summary_credit_accnts_information %}
        <li>{{ summary_credit_accnts_information }}</li>
        {% endfor %}
        {% for product in products %}
        <li>{{ product }}</li>
        {% endfor %}
    </ul>
</body>

</html>


<!-- 
<html>

<body>
    <ul>
        {% for summary_credit_accnts_information in summary_accounts_credit %}
        <li>{{ summary_credit_accnts_information }}</li>
        {% endfor %}
    </ul>
</body>

</html> -->